@font-face {
  font-family: 'FSAlbert Regular';
  font-style: normal;
  font-weight: normal;
  src: local('FSAlbert Regular'), url('FSAlbert Regular.woff') format('woff');
  }
.App {
  text-align: center;
}
